@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto:wght@300&display=swap");

.login-container {
    width: 20%;
    margin: auto;
    text-align: center;
    font-family: 'Roboto';
    margin-top: 20vh;
}

.login-container .header {
    font-size: 60px;
    font-weight: 300;
    color:#00c5ff;
}

.login-container .sub-header {
    line-height: 1.5em;
    margin-top: 20px;
    font-weight: 300;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
    height: 50px;
    border: none;
    outline: none;
}

.login-form input[type="submit"] {
    background-color: #00c5ff;
    color: white;
    margin: auto;
    margin-top: 30px;
    width: 120px;
}

.login-form input[type="submit"]:hover {
    cursor: pointer;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    margin: 1px;
    transition: all 0.4s linear;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    color: #00c5ff;
    border-bottom: 1px solid #00c5ff;
    transition: border 0.4s linear;
}

.login-form input[type="text"]:focus::placeholder,
.login-form input[type="password"]:focus::placeholder {
    color: #00c5ff;
    transition: color 0.4s linear;
}

.login-error {
    color: red;
}

.or-register {
    margin-top: 10px;
}