@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&family=Roboto:wght@500&display=swap");

.type-racer-container {
  font-family: "Roboto";
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.type-racer-header {
  text-align: center;
}

.text {
  margin-top: 50px;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  padding: 5px;
}

.word {
  padding: 1px 0px;
  display: flex;
}

.word.active {
  border: 3px solid lightgray;
  background-color: lightgray;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}

.active {
  background-color: grey;
}

.source {
  font-size: 20px;
}

.by {
  font-style: italic;
  color: gray;
  font-size: 12px;
}

.citation {
  margin-top: 10px;
  margin-left: 10px;
}

.race-info {
  margin-top: 10px;
}